<link rel="stylesheet" href="stylesheets/style.css">

<%- include('components/header', {}); %>

<ul id="movies">
    <p class="description">
        By clicking on the title, you can edit the title; same goes for the description. You can click on the dot of the list item to show a delete button.
    </p>
    <% for(let i = 0; i < movies.length; i++) { %>
    <li data-movie="<%= movies[i]._id %>">
        <h2 class="editable"><%= movies[i].title %></h1>
        <p class="editable"><%= movies[i].description %></p>
        <% if(movies[i].cover) { %>
        <img src="<%= 'uploads/' + movies[i].cover %>" alt="">
        <% } %>
    </li>
    <% } %>
</ul>
<a class="add-btn" href="/add">Add new movie</a>
<%- include('components/footer', {}); %>

<script src="javascripts/editMovie.js"></script>
<script src="javascripts/deleteMovie.js"></script>