<html lang="en">

<%- include('defaults/head') %>

<body>

  <%- include('components/header') %>

  <main>
    <article>
      <section class="fluid container">
        <ul id="chat-list">
          <% if (chats.length < 1) { %>
            <p>You have no chats yet.</p>
          <% }%>
          <% for (let i=0;i < chats.length;i++) { 
            // Defining the user the currentUser is chatting with
            const otherUser = user._id == chats[i].users[0] ? chats[i].users[1] : chats[i].users[0]; 
          %>
          <li class="chat-item">
            <a href="/chat/<%= chats[i]._id %>">
              <img
                src="<%= otherUser.picture %>"
                alt="<%= otherUser.firstName %> <%= otherUser.lastName %>">
              <div>
                <p>Chat with <%= otherUser.firstName %>, <%= otherUser.age %></p>
                <p class="last-message">Send a message to <%= otherUser.firstName %>!</p>
              </div>
              <i class="material-icons arrows">arrow_forward_ios</i>
            </a>
          </li>
          <% } %>
        </ul>
      </section>
    </article>
  </main>

  <%- include('components/footer') %>

</body>

</html>