<html lang="en">

<%- include('defaults/head') %>

<body>

  <%- include('components/header') %>

  <main>
    <article>
      <section class="container" id="matches">
        <h1>Your matches</h1>
        <div id="match-items">
          <ul>
            <% for(let i=0;i < matches.length;i++) { %>
            <li>
              <figure>
                <div class="img-wrapper">
                  <img class="profile-picture"
                    src="<%= matches[i].picture %>"
                    alt="Dating person">
                </div>
                <figcaption><%= matches[i].name %> <%= matches[i].lastname %>, <%= matches[i].age %></figcaption>
              </figure>
              <div class="hearts">
                <img class="dislike" src="./images/dislike.png" alt="">
                <img class="like" src="./images/like.png" alt="">
              </div>
            </li>
            <% } %>
          </ul>
        </div>
        <nav class="slider-nav">
          <div class="wrap">
            <i class="material-icons arrows" id="slide-back">arrow_back_ios</i>
            <% for(let i=0;i < (matches.length < 6 ? matches.length : 6);i++) { 
              if(false) { %> <!-- TODO: If list item is active, set other icon! -->
              <i class="material-icons">panorama_fish_eye</i>
              <% } else { %>
                <i class="material-icons">panorama_fish_eye</i>
              <% } %>
            <% } %>
            <i class="material-icons arrows" id="slide-forward">arrow_forward_ios</i>
          </div>
        </nav>
      </section>
      <section id="viewed-matches">
        <div class="container">
          <h2>Viewed matches</h2>
          <ul>
            <li>
              <figure>
                <img
                  src="http://www.kevmill.com/wp-content/uploads/2019/09/cropped-Kevin-profile-pic-2019-square-small.jpg"
                  alt="Dating person">
                <figcaption>Mark de Jong, 26</figcaption>
              </figure>
            </li>
            <li>
              <figure>
                <img
                  src="http://www.kevmill.com/wp-content/uploads/2019/09/cropped-Kevin-profile-pic-2019-square-small.jpg"
                  alt="Dating person">
                <figcaption>Mark de Jong, 26</figcaption>
              </figure>
            </li>
          </ul>
        </div>
      </section>
    </article>
  </main>

  <%- include('components/footer') %>

  <script src="./javascripts/match-slider.js"></script>
</body>

</html>