<link rel="stylesheet" href="stylesheets/style.css">

<%- include('components/header', {}); %>

<ul id="movies">
    <% for(let i = 0; i < movies.length; i++) { %>
    <li data-movie="<%= i %>">
        <h2><%= movies[i].title %></h1>
        <p><%= movies[i].description %></p>
    </li>
    <% } %>

</ul>
<a class="add-btn" href="/add">Add new movie</a>
<%- include('components/footer', {}); %>

<script src="javascripts/editMovie.js"></script>
<script src="javascripts/deleteMovie.js"></script>